html {
    font-size: 62.5%
}

/* 1 REM = 10px */

.ball {
    width: 4rem;
    height: 4rem;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    /* filter: blur(0.6rem) */
    
}

.board {
    width: 20rem;
    height: 2rem;
    background-color: darkgreen;
    position: absolute;
    bottom: 2rem;
}

.score {
    font-size: 2rem;
    position: absolute;
    z-index: 100;
    right: 3rem;
    top: 3rem;
    font-size: 3rem;
    font-weight: bold;
}


.btn {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    /* position: relative; */
    top: 3rem;
    left:3rem;
}


.wrapper{
    position: relative;
}

.paragraph{

display: inline-block;
font-size: 3rem;
font-weight: bold;
margin-right: 1rem;
}

.difficulty-line{

  height: 2rem;
  background-color: purple;
  width: 10rem;
  display: inline-block;

}

.btn-box{
position: relative;
left:1rem;
display: inline-block;
}

.farewell{

    text-align: center;
    font-size: 4rem;
}

