html {
    font-size: 62.5%  
}

/* 1 REM = 10px */

.ball {
    width: 4rem;
    height: 4rem;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    /* filter: blur(0.6rem) */
}

.board{
    width: 20rem;
    height: 2rem;
    background-color: darkgreen;
    position: absolute;
    bottom: 2rem;
}

.score{
    font-size: 2rem;
    position: absolute;
    z-index: 100;
    right: 3rem;
    top:3rem;
    font-size: 3rem;
    font-weight: bold;
}